div.endpage {
  position:fixed;
  top: 100%;
  transform: translate(0%, -102%)
}

div.centré {
    position:absolute;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  
  }

  a{
    color:  rgb(255, 255, 255);
    transition: 0.2s;
    transition: 0.25s ease-out;
  }
  a:hover{
    text-decoration: none;
    background-color: rgb(0, 0, 0);
  }
  