
html{
  font-family: Arial, Helvetica, sans-serif ;
   font-variant:normal; 
   font-size: 12px;
  outline-color: #ffffff;
   color: rgb(0, 0, 0);
   background-color: #bababa;
  
  background-size: cover;
  -webkit-text-stroke: 3px rgb(255, 255, 255);
  paint-order: stroke fill;
}

body{

  max-width: 200svw;
}


a{
  text-decoration: none;
}

a:hover{
   cursor: pointer;
   -webkit-text-stroke: 3px rgb(0, 0, 255);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

li{
  width: 70%;
}
ul{
  list-style: none;
}

img{
  object-fit:scale-down;
  width: calc(100% - 60px); 
  height:calc(90svh - 60px);
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  mix-blend-mode: multiply;
}

.black {
  display: block;
  height: 20px;
  border: 20px;
  border-top: 20px solid #ffffff;
  margin: 1em 0;
  padding: 0;

}
.hidden{
  display: none;
}

.texteprincipal{
  padding: 10px; 
  width: calc(100% - 20px); 
  margin: 0px;
  text-align: justify;
  height:  50svh;
}

.navigation{
text-align: right; 
right: 10px; 
bottom: 10px; 
position: absolute;
}

.navigation2{
text-align: right; 
right: 0px; 
bottom: 0px;  
position: absolute;
}


.liste{
  display: flex; 
  flex-direction: column; 
  flex-wrap: wrap; 
  height: 60svh; 
  flex: 0 0 100px; 
  padding: 0%; 
  margin: 0%;
}

.enconstruction{
  color: grey;
}
.enconstruction:hover{
  font-weight: 400;
  cursor: default;
}
.page{
  height: 90svh; 
  max-width: 90svw; 
  top: 5svh; 
  right: 50svw;
  aspect-ratio: 8.5/11; 
  background-color: rgba(255, 255, 255, 0); 
  position:fixed; 
  backdrop-filter: blur(0.8px);
  overflow: scroll;
  scrollbar-color: rgb(0, 0, 0) white;
  scrollbar-width: none;
  border: 1px solid pink;
}



.pageimage{
 height: 90svh; 
  max-width: 90svw; 
  top: 5svh; 
  left: 50svw;
  transform: translateX(-50%);
  aspect-ratio: 11/8.5; 
  background-color: rgb(255, 255, 255); 
  position: fixed; 
  backdrop-filter: blur(0.8px);
  border: 1px solid #a3a3a3;
}
.retourp1{
  height: 90svh; 
  max-width: 90svh; 
  top: 5svh; 
  left: 5svh; 
  aspect-ratio: 8.5/11; 
  background-color: rgba(255, 255, 255, 0); 
  position: absolute; 
  backdrop-filter: blur(0.5px);
  
}
.retourp2{
  height: 90svh; 
  max-width: 90svh; 
  top: 5svh; 
  left: 10svh; 
  aspect-ratio: 8.5/11; 
  background-color: rgba(255, 255, 255, 0); 
  position: absolute; 
  backdrop-filter: blur(0.5px);

}
.retourp3{
  height: 90svh; 
  max-width: 90svh; 
  top: 5svh; 
  left: 15svh; 
  aspect-ratio: 8.5/11; 
  background-color: rgba(255, 255, 255, 0); 
  position: absolute; 
  backdrop-filter: blur(0.5px);
}

@media screen and (max-width: 1200px) {
.first{
  grid-column: 1 / 2;
}
}
@media screen and (max-width: 800px) {
  .blank{
    grid-column: 1 / 2;
  }
  }



@font-face {
  font-family: Pixeloid Sans;
  src: url(Font/PixeloidSans-nR3g1.ttf);
}
@font-face {
  font-family: Isometric Bold;
  src: url(Font/3DIsometricBold-8MYYZ.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(Font/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Noto;
  src: url(Font/NotoSansMono-VariableFont_wdth\,wght.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(Font/RobotoCondensed-Light.ttf);
}
@font-face {
  font-family: cormorant;
  src: url(Font/CormorantGaramond-Light.ttf);
}
@font-face {
  font-family: switzer;
  src: url(Font/Switzer-Regular.otf);
}
@font-face {
  font-family: rowan;
  src: url(Font/Rowan-Regular.otf);
}
@font-face {
  font-family: amiamie;
  src: url(Font/Amiamie-Light.otf);
}
@font-face {
  font-family: baskervvol;
  src: url(Font/BBBBaskervvol-Base.otff);
}
@font-face {
  font-family: adelphe ;
  src: url(Font/Adelphe-FructidorRegular.otf);
}
@font-face {
  font-family: dindong ;
  src: url(Font/DINdong.woff);
}
@font-face {
  font-family: overused ;
  src: url(Font/OverusedGrotesk-Roman.woff2);
}
@font-face {
  font-family: New ;
  src: url(Font/NewHeterodoxMono-Book.otf);
}

@keyframes slide-in {
   0%   {
    translate: -50vw 0;
  }

 100% {
    translate: 0 0;
  }
}