
/*head {
  cursor: url("photo/cursor\ truite.png")
}
html{
  cursor: url("photo/cursor\ truite.png"), default;
}
*/body{
 background-image:linear-gradient(112deg, rgb(197, 146, 255) 0%,rgb(124, 0, 52)13%, rgb(0, 175, 152)20%, 
 rgb(224, 0, 194) 80%, rgb(0, 0, 255) 80%, rgb(124,0,52)100%

  );
   font-family: sans-serif;
   font-variant: small-caps; 
}
.fit-image{
  width: 150px;
}
#square {
  width: 150px;
  height: 150px;
  background: rgb(134, 134, 134);
}
img{
  opacity: 1
  
}
div.centré {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

}
a{
  color: white;
}
h4{
  font: size 1vw;
}
div.gauche {
  position: absolute;
  left: 90%;
  top: 0%;
  /* bring your own prefixes */
  transform: translate(-100%, 0%);

}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  left: 0%;
  top: 0%;
  transform: translate(0%,0%);
}