h1 {
  color: rgb(255, 255, 255);
  margin: 20px;
}
head {
  cursor: url("photo/cursor\ truite.png")
}
html{
  cursor: url("photo/cursor\ truite.png"), default;
}
body{
  background-image:url("photo/IMG_2803.jpg");
 /*font-family: sans-serif;
   font-variant: small-caps; */
}
img{
  width: 300px ;
}
img{
  opacity: 1
  
}

a{
  color: rgb(255, 255, 255);
}
