
body{
   font-family:amiamie;
   font-variant:normal; 
   font-size:12px;
   
   /*height: 100%;
  background-color: rgb(255, 248, 226);*/
}


html, body { 
  height: 100%; 
 
}

#bg{
  background: white;
}

.language{
  position: absolute;

  transform: translate(-100%,0%);
  color: orangered;
}

.t0{
  position: fixed;
  top: 20px;
  left : 20px;
  width : 30%;
 /* top: 50%;
  left: 50%;
  width: 33%;
  transform: translate(-110%,-50%); */
}
.t1{
  position: fixed;
  top: 20px;
  left : 20px;
  width : 33%;
  top: 100%;
  transform: translate(0%,-150%); */
}

info{
  position: absolute;
}


div.group {
  display: grid;

}

.link{
  
  /*color: rgb(53, 96, 142);
  transition: 1s;
  text-decoration: none;*/

}
 
  .link:hover {
   text-decoration: underline;
}


div.centré {
  position: fixed;
  top: 50%;
  left: 75%;

  transform: translate(-50%, -50%);
}

.centre {
  left: 50%;
  transform: translate(-50%, 0%);
}

div.blanc {
  font-style: white;
}

div.endpage {
  position:absolute;
margin-left: 25%;
margin-right: 25%;

  transform: translate(-50%);
}

.portfolio{
  min-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%; 
  }
  
 li{
  list-style-type:square;
  color: rgba(255, 255, 255, 0);
 }

@media (hover: hover) {
  .portfolio:hover{
    opacity: 0.25;
  }

}
@media (hover: none) {
  info{
    position: relative;
    top: 25%;
  }
  body {
    overflow: visible;
  
  }
}

.lien{
  color: rgba(255, 255, 255, 0);
  min-width: 300px;
  width:50%;
  height: fit-content;
  position: absolute;
  align-items: center;
}


.arrow{
  position: fixed;
  top: 95%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  margin-left: 66%;
  transform: translate(-50%,0px);
}
.outer1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  margin-left: 50%;
}

.ham{
  position: fixed;
  top: 5px;
  left: 5px;
  transform: translateX(-200%);
}

a{
color: grey;
text-decoration: none;

￼}

@font-face {
  font-family: Pixeloid Sans;
  src: url(Font/PixeloidSans-nR3g1.ttf);
}

@font-face {
  font-family: Isometric Bold;
  src: url(Font/3DIsometricBold-8MYYZ.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(Font/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Noto;
  src: url(Font/NotoSansMono-VariableFont_wdth\,wght.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(Font/RobotoCondensed-Light.ttf);
}
@font-face {
  font-family: cormorant;
  src: url(Font/CormorantGaramond-Light.ttf);
}

@media screen and (max-width: 800px) {
  .outer1{
    margin-top: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 0px;
  
  } 
  .outer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 0px;
  
  }
  .t0{
   display: none;
  }
  .moi{
    width: 10%;
  }
  .ham{
transform: translateX(0%);
  }
  span.ham:hover + div.t0{
    display: block;
  }  
  }
  @media screen and (max-width: 500px) {
    
  }

span.ham:hover + div.t0{
  display: block;
}  
.button2 {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #00000000;
 margin-left: 50%;
 transform: translateX(50%);
}
button {
  height: 50px;
  width: 50px;
  background: background: radial-gradient(circle, rgba(0,0,50,0.773546918767507) 18%, rgba(0,0,0,0.15730042016806722) 100%);
  border: none;
  border-radius: 50%;
}
circle {
  height: 80%;
  width: 80%;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #000;
  border-radius: 50%;
}

@font-face {
  font-family: switzer;
  src: url(Font/Switzer-Regular.otf);
}

@font-face {
  font-family: rowan;
  src: url(Font/Rowan-Regular.otf);
}
@font-face {
  font-family: amiamie;
  src: url(Font/Amiamie-Light.otf);
}
@font-face {
  font-family: baskervvol;
  src: url(Font/BBBBaskervvol-Base.otff);
}
@font-face {
  font-family: adelphe ;
  src: url(Font/Adelphe-FructidorRegular.otf);
}