<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Rémi Bonin</title>
    <link href="/Style.css" rel="stylesheet">
  </head>
  <body>

{{ content }}

<header>
  <a href="/index.html"><b>Rémi Bonin</b></a>

  <p>Type</p>
  {{ for type of search.values("type").sort() }}
    <input type="radio" id="{{ type }}" name="fav_language" value="{{ type }}">
    <label for="{{ type }}">{{ type }}</label><br>
  {{ /for }}

  <p>Pratique</p>
  {{ for pratiques of search.values("pratique").sort() }}
    <input type="radio" id="{{ pratique }}" name="pratique" value="{{ pratique }}">
    <label for="{{ pratique }}">{{ pratique }}</label><br>
  {{ /for }}

  <p>Documents</p>
  {{ for document of search.values("document").sort() }}
    <input type="radio" id="{{ document }}" name="document" value="{{ document }}">
    <label for="{{ document }}">{{ document }}</label><br>
  {{ /for }}

  <p>Année</p>
  {{ for année of search.values("année").sort().reverse() }}
    <input type="radio" id="{{ année }}" name="year" value="{{ année }}">
    <label for="{{ année }}">{{ année }}</label><br>
  {{ /for }}

  <p>Lieu</p>
  {{ for lieu of search.values("lieu").sort() }}
    <input type="radio" id="{{ lieu }}" name="lieu" value="{{ lieu }}">
    <label for="{{ lieu }}">{{ lieu }}</label><br>
  {{ /for }}

  <p>Mise en page</p>
  {{ for mise_en_page of search.values("mise_en_page").sort() }}
    <input type="radio" id="{{ mise_en_page }}" name="mise_en_page" value="{{ mise_en_page }}">
    <label for="{{ mise_en_page }}">{{ mise_en_page }}</label><br>
  {{ /for }}
</header>


<script src="/Script.js"></script>
  </body>
</html>
</html>
