---
layout: head.vto
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My first page</title>
    <LINK href="/Style.css" rel="stylesheet">
  </head>
  <body>
    <p>{{ description }}</p>
    <p>{{ annee }}</p>
    <p>{{ lieu }}</p>
    <img src="{{ image }}" alt="{{ phographe }}" />
    <div class=post-it> </div>
  </body>
{{ content }}
</html>
